<b>Exercice 1</b>

Soit les dates de naissance des employés dans une entreprise:

        13/11/1978, 12/10/2001, 10/09/1991, 31/01/1980, 14/01/1993

Ecrire un code qui permet de saisir les dates ci-dessus en une seule ligne séparées par de virgule avec éventuellement des espaces.

In [2]:
s=input('Entrer les dates séparées par virgule :')
s

'13/11/1978, 12/10/2001, 10/09/1991, 31/01/1980, 14/01/1993'

Récupérer les dates à partir de la chaine saisie

In [3]:
dates=s.replace(" ","").split(",")
dates

['13/11/1978', '12/10/2001', '10/09/1991', '31/01/1980', '14/01/1993']

Convertir les dates dans la liste en type datetime

Manière 1 : en utilisant Boucle for

In [4]:
from datetime import datetime
for i in range(len(dates)):
    dates[i]=datetime.strptime(dates[i],'%d/%m/%Y')

Manière 2 : en utilisant List comprehension

In [7]:
dates = [datetime.strptime(date,'%d/%m/%Y') for date in dates]

Manière 3 : en utilisant Map

In [8]:
dates=list(map(lambda date : datetime.strptime(date,'%d/%m/%Y'), dates))

Calculer les ages des employes dans une liste ages

In [9]:
ages=[]
for i in range(len(dates)):
    age=datetime.now().year-dates[i].year
    ages.append(age)

In [10]:
ages

[46, 23, 33, 44, 31]

Déterminer l'âge minimal, l'âge maximal et l'âge moyen en utilisant numpy

In [22]:
# Convertir la liste des ages en un array numpy
# pour profiter des fonctions prédéfinies de calcul de max, min, mean, ....
import numpy as np
ages=np.array(ages)
ages

array([46, 23, 33, 44, 31])

In [18]:
age_min=ages.min()
age_min

23

In [19]:
age_max=ages.max()
age_max

46

In [20]:
age_mean=ages.mean()
age_mean

35.4

Déterminer le nombre des employés au-dessous et au-dessus de la moyenne d'age

In [29]:
# La fonction np.sum()calcule le nombres des valeurs True dans un vecteur de valeurs booléennes
count_dessus=np.sum(ages>=age_mean)
count_dessous=np.sum(ages<age_mean)
print('Nombre d\'employés au-dessus de la moyenne:',count_dessus)
print('Nombre d\'employés au-dessous de la moyenne:',count_dessous)

Nombre d'employés au-dessus de la moyenne: 2
Nombre d'employés au-dessous de la moyenne: 3

<b>Exercice 2</b>

Supposons qu'on dispose des infos (age et salaire) d'un éhantillon de 5 employés d'une entreprise.

        Nom Age Salaire
        Ahmed 25 1600.65
        Sonia 28 2100.76
        Rahma 39 2400.65
        Salma 45 3100.87

1. Représenter les noms et les infos des employés avec les structures adéquats (Les en déduire des questions ultérieures)

In [27]:
import numpy as np
noms=['Ahmed','Sonia','Rahma','Salma']
infos=np.array([[25,1600.65],[28,2100.76],[39,2400.65],[45,3100.87]])
infos

array([[  25.  , 1600.65],
       [  28.  , 2100.76],
       [  39.  , 2400.65],
       [  45.  , 3100.87]])

2. Répondre aux questions suivantes :
- Note : utiliser numpy pour répondre par une seule ligne de code !

Déterminer l'age maximal de la population

In [3]:
infos[:,0].max()

45.0

Déterminer l'employé le plus agé

In [5]:
noms[infos[:,0].argmax()]

'Salma'

Déterminer le salaire le plus faible

In [7]:
infos[:,1].min()

1600.65

Déterminer l'employé le moins rénuméré

In [8]:
noms[infos[:,1].argmin()]

'Ahmed'

Déterminer les employés ayant un salaire >=2000
- Au debut, faut penser à convertir la liste des noms en un array numpy pour pourvoir lui appliquer un filtrage ! 

        np.array(noms)
- `infos[:,1]>=2000` donne un vecteur booléen (filtre) : `[False,True,True,True]`

- Solution 1: Appliquer ce filtre sur np.array(noms)
- Solution 2 : Déterminer les idnices en se basant sur le filtre puis filtrer np.array(noms)
- A la fin, penser à reconvertir l'array des noms filtrés en type `list` avec la fonction `list()`

In [21]:
# solution 1
list(np.array(noms)[infos[:,1]>=2000])

['Sonia', 'Rahma', 'Salma']

In [33]:
# solution 2
list(np.array(noms)[np.where(infos[:,1]>=2000)[0]])

['Sonia', 'Rahma', 'Salma']