<b>Objectifs:</b>

Dans cette séance, on va terminer avec les concepts fondamentales du langage Python :
- Les fonctions
- Les expressions lambda
- Structures des données : tuples, ensembles et dictionnaires
- Type str (Chaines de caractères)
- Type datetime
- Les classes

<b>Fonctions</b>

Arguments optionnels

In [1]:
def calculer_puttc(puht, tva):
    puttc = puht * (1+tva)
    return puttc

In [3]:
puttc = calculer_puttc(100, 0.19)

In [4]:
puttc

119.0

Tous les arguments sont obligatoires dans la fonction calculer_puttc

Elles sont appelées "arguments positionnels"

On veut plutôt rendre l'argument tva "optionnel" et lui affecter par defaut la valeur 19%

In [5]:
def calculer_puttc(puht, tva=0.19):
    puttc = puht * (1+tva)
    return puttc

In [6]:
puttc = calculer_puttc(100)

In [7]:
puttc

119.0

In [8]:
puttc = calculer_puttc(10, 0.08)
puttc

10.8

Variables globales vs variables locales

In [12]:
# on declare tva comme variable globale
tva=0.1

In [13]:
def calculer_puttc(puht):
    puttc = puht * (1+tva)  # tva est accessible par lecture dans la fonction
    return puttc

In [14]:
puttc = calculer_puttc(10)
puttc

11.0

In [15]:
tva=0.19

In [16]:
def calculer_puttc(puht):
    tva=0.1 # On essaie de modifier la valeur de tva dans la fonction
    puttc = puht * (1+tva)
    return puttc

In [17]:
puttc = calculer_puttc(10)
puttc

11.0

In [18]:
tva

0.19

Si on declare une variable locale dans une fonction  qui porte le même nom qu'une variable globale, Python créé cetrte variable locale (il interdit la modification d'un variable globale dans la fonction)

In [19]:
tva=0.19
def calculer_puttc(puht):
    global tva # le mot-clé global rend la variable global tva modifiable dans la fonction
    tva=0.1 # tva est elle même la variable globale
    puttc = puht * (1+tva)
    return puttc

In [20]:
puttc = calculer_puttc(10)
puttc

11.0

In [21]:
tva

0.1

Fonction sans return

In [22]:
nombres = [10,5,20] # liste

In [23]:
def print_liste(nombres): # nombres : argument formel
    for i in range(len(nombres)):
        print(nombres[i], end= "|" )

In [24]:
print_liste(nombres) # nombres : argument effectif

10|5|20|

In [38]:
nombres = [10,5,20] # liste

def inc_1():
    global nombres
    for i in range(len(nombres)):
        nombres[i]+=1

def inc_2():
    global nombres
    for i in range(len(nombres)):
        nombres[i]+=2

In [39]:
inc_1()
nombres

[11, 6, 21]

In [40]:
inc_2()
nombres

[13, 8, 23]

In [44]:
# Alternative
nombres = [10,5,20] # liste

def inc_1():
    for i in range(len(nombres)):
        nombres[i]+=1

def inc_2():
    for i in range(len(nombres)):
        nombres[i]+=2

In [42]:
inc_1()
nombres

[11, 6, 21]

In [43]:
inc_2()
nombres

[13, 8, 23]

<b>Expressions lambda</b>

In [47]:
def calculer_puttc(puht, tva):
    return puht*(1+tva)

In [48]:
calculer_puttc(10,0.1)

11.0

In [49]:
calculer_puttc_1=lambda puht, tva : puht*(1+tva)

In [50]:
calculer_puttc_1(10,0.1)

11.0

In [54]:
def traitement(calcul,x,y):
    res = calcul(x,y)
    return res

In [60]:
def somme(x,y):
    return x+y

def produit(x,y):
    return x*y

In [61]:
traitement(somme, 10,20)

30

In [62]:
traitement(produit, 10,20)

200

In [63]:
traitement(lambda x,y : x+y, 10,20)

30

In [64]:
traitement(lambda x,y : x*y, 10,20)

200

<b>Structures des données : Tuples, Ensembles et Dictionnaires</b>

Tuples

In [65]:
T=(2,10,6)

In [66]:
T[0]

2

In [67]:
T[-1]

6

In [68]:
T[:2]

(2, 10)

In [69]:
T[1]=30

TypeError: 'tuple' object does not support item assignment

In [70]:
del T[1]

TypeError: 'tuple' object doesn't support item deletion

In [71]:
len(T)

3

Ensembles

In [72]:
S={1,2,1,1,2,3,4,4,4,4,4}

In [73]:
S

{1, 2, 3, 4}

In [74]:
len(S)

4

In [75]:
S.add(2)

In [76]:
S

{1, 2, 3, 4}

In [77]:
S.add(10)

In [78]:
S

{1, 2, 3, 4, 10}

Dictionnaires

In [79]:
notes=[10.8,15,17.75]
noms=['Ali','Sonia','Rahma']

In [80]:
notes[1]

15

In [85]:
# Dans ce dictionnaire, les noms jouenent le role de clés
# Les notes jouenent le role de values
notes={
        'Ali':10.8,
        'Sonia':15,
        'Rahma':17.75
}

In [82]:
notes[0]

KeyError: 0

In [83]:
notes['Ali']

10.8

In [84]:
notes['Sonia']

15

In [86]:
notes['Sonia']=19.75

In [87]:
notes

{'Ali': 10.8, 'Sonia': 19.75, 'Rahma': 17.75}

In [88]:
notes['Mahmoud']=20

In [89]:
notes

{'Ali': 10.8, 'Sonia': 19.75, 'Rahma': 17.75, 'Mahmoud': 20}

In [90]:
del notes['Mahmoud']

In [91]:
notes

{'Ali': 10.8, 'Sonia': 19.75, 'Rahma': 17.75}

In [94]:
for paire in notes.items():
    print(paire[0],':',paire[1])

Ali : 10.8
Sonia : 19.75
Rahma : 17.75

In [95]:
for nom,note in notes.items():
    print(nom,':',note)

Ali : 10.8
Sonia : 19.75
Rahma : 17.75

<b>Type str (chaine de caractères)</b>

Fonctions/operateurs utiles

In [96]:
s1='hello'
s2='world'
s=s1+s2
s

'helloworld'

In [97]:
s=s1*3
s

'hellohellohello'

In [98]:
nom='hello'

In [99]:
nom.endswith('l')

False

In [100]:
nom.endswith('o')

True

In [101]:
nom.startswith('o')

False

In [102]:
nom.startswith('h')

True

In [104]:
nom.upper()

'HELLO'

In [105]:
nom.upper().startswith('H')

True

In [106]:
nom.isdigit()

False

In [107]:
nombre='1234'
nombre.isdigit()

True

Formattage

In [110]:
nom="Ali"
salaire=1200.75
age=28
message="L'employé "+nom+" a comme salaire "+str(salaire)
print(message)

L'employé Ali a comme salaire 1200.75

In [111]:
message="L'employé %s a comme salaire %f et age %d" % (nom,salaire,age)
print(message)

L'employé Ali a comme salaire 1200.750000 et age 28

In [118]:
message="L'employé %-10s a comme salaire %-10.1f et age %-4d" % (nom,salaire,age)
print(message)

L'employé Ali        a comme salaire 1200.8     et age 28

In [120]:
message="L'employé {0:10s} a comme salaire {1:10.1f} et {0:10s} a comme age {2:4d}".format(nom,salaire,age)
print(message)

L'employé Ali        a comme salaire     1200.8 et Ali        a comme age   28

<b>Type datetime</b>

Déclarer une variable de type datetime

Attributs de datetime

Conversion datetime -> str (formattage)

Conversion str -> datetime

<b>Les classes</b>

Définition

Instantiation (Création d'objets)