<h3>Correction de TD n°1 : Concepts fondamentaux en Programmation Python</h3>

<b>Exercice 1:</b>

On veut collecter les informations des produits et leurs faire plusieurs traitements. Veuillez suivre les étapes suivantes :

1. Déclarer 3 listes vides : noms, puhts et quantites.

In [15]:
noms=[]
puhts=[]
quantites=[]

2. Saisir les informations de 3 produits : nom, puht (prix unitaire hors taxe) et quantité et les ajouter dans les listes concernées.

In [16]:
for i in range(3):
    nom=input('Entere le nom de produit:')
    puht=float(input('Entere le prix hors taxe de produit:'))
    quantite=int(input('Entere la quantité de produit:'))
    noms.append(nom)
    puhts.append(puht)
    quantites.append(quantite)

In [17]:
noms

['RFG', 'MO', 'FOUR']

In [18]:
puhts

[2100.76, 350.7654, 400.54]

In [19]:
quantites

[3, 20, 10]

3. Filtrer dans une liste <b>nom_chers</b> seulement les noms des produits ayant puht>1000.

In [20]:
noms_chers=[]
for i in range(len(noms)):
    if puhts[i]>1000:
        noms_chers.append(noms[i])

In [21]:
noms_chers

['RFG']

4. Ajouter le produit ayant les informations suivantes nom="TV", puht=1200.7654 et quantite=5 dans les listes

In [22]:
noms.append("TV")
puhts.append(1200.7654)
quantites.append(5)

In [23]:
noms

['RFG', 'MO', 'FOUR', 'TV']

In [24]:
puhts

[2100.76, 350.7654, 400.54, 1200.7654]

In [25]:
quantites

[3, 20, 10, 5]

5. Calculer les puttcs des produits et les mettre dans la liste <b>puttcs</b>

    puttc d'un produit = puht x (1+tva)

    Tel que tva=10% pour tous les produits

In [26]:
tva=0.1
puttcs=[]
for i in range(len(noms)):
    puttc=puhts[i]*(1+tva)
    puttcs.append(puttc)

In [27]:
puttcs

[2310.8360000000002, 385.84194, 440.59400000000005, 1320.84194]

6. Calculer les montants des produits et les mettre dans la liste <b>montants</b>

    montant d'un produit = puttc x quantite

In [28]:
montants=[]
for i in range(len(noms)):
    montant=puttcs[i]*quantites[i]
    montants.append(montant)

In [29]:
montants

[6932.508000000001, 7716.8388, 4405.9400000000005, 6604.2097]

7. Afficher les informations du produit ayant le montant maximal

In [30]:
montant_max=montants[0]
nom_montant_max=noms[0]
for i in range(1,len(noms)):
    if montant_max<montants[i]:
        nom_montant_max=noms[i]

In [31]:
nom_montant_max

'MO'

8. Afficher les noms des produits triés selon leurs montants de le plus elevé vers le plus faible.

In [32]:
montants_tri=montants.copy()
noms_tri=noms.copy()

In [33]:
# On utilise le tri par selection par exemple
for i in range(len(montants_tri)-1):
    for j in range(i,len(montants_tri)):
        if montants_tri[j]<montants_tri[i]:
            montants_tri[i],montants_tri[j]=montants_tri[j],montants_tri[i]
            noms_tri[i],noms_tri[j]=noms_tri[j],noms_tri[i]

In [52]:
print('Les produits triés selon leurs montants (tri ascendant):')
print('%-10s|%-10s' % ('Nom','Montant'))
for i in range(len(noms_tri)):
    print('%-10s|%-10.1f' % (noms_tri[i],montants_tri[i]))

Les produits triés selon leurs montants (tri ascendant):
Nom       |Montant
FOUR      |4405.9
TV        |6604.2
RFG       |6932.5
MO        |7716.8

<b>Exercice 2:</b>

On veut collecter les indices de pollution des villes métropolitaines : London, Paris, Tokyo et Bejing

Puis, on veut leurs faire des simples statistiques.

1. Déclarer un dictionnaire vide et l'appeler <b>villes</b>

In [39]:
villes={}

2. Saisir et ajouter le nom et l'indice de pollution des villes mentionnées dans l'énoncé.

<u>Notes :</u> 
- L'indice doit être une valeur entre 10 et 50
- Dans le dictionnaire, le nom de la ville est la clé et son indice est la valeur

In [41]:
# Définir une fonction qui permet de saisir et ajouter les informations d'une ville dans le dictionnaire. 
# Cette fonction retourne Vrai si l'indice est valide Sinon elle retourne Faux
def saisir_ville():
    nom=input('Entrer le nom de la ville:')
    indice=float(input('Entrer l\'indice de la ville (entre 10 et 50):'))
    if 10<=indice<=50:
        villes[nom]=indice
        return True
    else:
        return False

In [42]:
# Saisir les informations des villes en utilisant la fonction définie
for i in range(4):
    indice_valide=False
    while not indice_valide:
        indice_valide=saisir_ville()
        if not indice_valide:
            print("Indice invalide ! Répétez la saisie")

Indice invalide ! Répétez la saisie
Indice invalide ! Répétez la saisie

In [43]:
villes

{'Tokyo': 25.0, 'Paris': 20.0, 'London': 45.0, 'Bejing': 50.0}

3. Déterminer le nom de la ville la moins polluée (ayant l'indice le plus faible)

In [46]:
indice_moins_polluee=100
nom_moins_polluee=""
for nom, indice in villes.items():
    if indice<indice_moins_polluee:
        indice_moins_polluee=indice
        nom_moins_polluee=nom

In [49]:
print('La ville la moins polluée est',nom_moins_polluee)

La ville la moins polluée est Paris