<b>Objectifs:</b>

Dans cette séance, on va terminer avec les concepts fondamentales du langage Python :
- Type datetime
- Les classes
- Les modules
- Les exceptions

Note : (Fonctions)

In [9]:
def calculer_puttc(puht, tva):
    return puht*(1+tva)

In [11]:
puttc=calculer_puttc(1000,0.1)
puttc

1100.0

In [12]:
# On peut indiquer les noms des arguments lors de l'appel de la fonction
# C'est utile pour ne pas être obligé de respecter l'ordre des arguments
puttc=calculer_puttc(tva=0.1,puht=1000)
puttc

1100.0

<b>Type datetime</b>

Déclarer une variable de type datetime

In [1]:
# Importer le type datetime à partir du module datetime
from datetime import datetime

In [13]:
d = datetime(2010,10,2)
d

datetime.datetime(2010, 10, 2, 0, 0)

In [14]:
d = datetime(day=2, month=10,year=2010)
d

datetime.datetime(2010, 10, 2, 0, 0)

Attributs de datetime

In [15]:
d.year

2010

In [16]:
d.month

10

In [17]:
d.day

2

In [18]:
d.hour

0

Conversion str -> datetime

Exmeple:

Demander à l'utilisateur de saisir sa date de naissance.

Puis, lui calculer et afficher son age

In [23]:
# saisie de la date
date_naissance_s = input('Entrer votre date de naissance (jj/mm/yyyy):')

In [24]:
date_naissance_s

'12/01/1991'

In [26]:
# conversion de la date datetime->str
# strptime est une fonction statique dans la classe datetime
date_naissance=datetime.strptime(date_naissance_s,'%d/%m/%Y')
date_naissance

datetime.datetime(1991, 1, 12, 0, 0)

In [28]:
date_now = datetime.now() # now() est une fonction statique
date_now

datetime.datetime(2024, 2, 1, 18, 59, 11, 14194)

In [29]:
annee_now = date_now.year
annee_now

2024

In [30]:
annee_naissance=date_naissance.year
annee_naissance

1991

In [31]:
age=annee_now-annee_naissance
age

33

In [ ]:
# code complet
# Saisie de la date en tant que chaine de caractères
date_naissance_s = input('Entrer votre date de naissance (jj/mm/yyyy):')
# conversion de la date (chaine) -> type datetime
date_naissance=datetime.strptime(date_naissance_s,'%d/%m/%Y')
# date de aujourd'hui
date_now = datetime.now()
# année d'aujourd'hui
annee_now = date_now.year
# année de naissance
annee_naissance=date_naissance.year
# age
age=annee_now-annee_naissance
age

Note: (Conversion de type)

In [ ]:
# Conversion str->int
age_s=input('Entrer votre age:')
age=int(age_s)
# Conversion str->datetime
date_naissance_s = input('Entrer votre date de naissance (jj/mm/yyyy):')
date_naissance=datetime.strptime(date_naissance_s,'%d/%m/%Y')
date_naissance

Conversion datetime -> str (formattage)

In [32]:
d=datetime(2010,1,9)
d.strftime('%d/%m/%Y')

'09/01/2010'

In [33]:
# numéro de jour
d.strftime('%d')

'09'

In [34]:
# Nom de jour
d.strftime('%A')

'Saturday'

In [35]:
# Nom abrégé de jour
d.strftime('%a')

'Sat'

In [36]:
# Numéro de mois
d.strftime('%m')

'01'

In [37]:
# Nom de mois
d.strftime('%B')

'January'

In [38]:
# Nom abr de mois
d.strftime('%b')

'Jan'

In [39]:
# Nombre complet de year
d.strftime('%Y')

'2010'

In [40]:
# Nombre raccourci de year
d.strftime('%y')

'10'

In [41]:
# L'heure
d.strftime('%H')

'00'

In [42]:
# minutes
d.strftime('%M')

'00'

In [43]:
# Secondes
d.strftime('%S')

'00'

In [45]:
d.strftime('%B , %B %Y - %A')

'January , January 2010 - Saturday'

Opérations sur les dates

Compraison entre dates

In [46]:
d1=datetime(2010,1,2)
d2=datetime(2015,3,21)

In [47]:
d1<d2

True

In [48]:
d1==d2

False

In [50]:
d1=datetime(2010,3,2)
d2=datetime(2010,1,21)
d1<d2

False

Soustraction entre dates

In [52]:
d1=datetime(2010,1,2)
d2=datetime(2010,3,21)
duree=d2-d1
duree

datetime.timedelta(days=78)

In [53]:
duree.days

78

In [55]:
duree.seconds

0

In [57]:
duree.total_seconds()

6739200.0

<b>Les classes</b>

Définition d'une classe :

<u>Syntaxe:</u>

    class nom_classe :
        def __init__(self, arg1, arg2, ...):
            self.att1 = arg1
            self.att2 = arg2
            ...

        def methode_1(self, arg1, arg2, ..):
            # code
            [return valeur]

Exemple:  
- Définir la classe Point qui représente un point dans le plan 2D.
- Un point est représenté par son nom (chaîne), ses coordonnées x et y (entiers)

In [60]:
# Définition de la classe Point
class Point :
    # constructeur de la classe
    def __init__(self, nom, x, y):
        self.nom = nom
        self.x = x
        self.y = y

Instantiation (Création d'objets)

<u>Syntaxe:</u>

    c = nom_classe(val1, val2, ...)
    r = c.methode_1(val1, val2, ..)

In [61]:
p=Point("P1",4,2)

In [62]:
p.nom

'P1'

In [63]:
p.x

4

In [64]:
p=Point(x=4,y=2,nom="P1")

Suite :

In [65]:
class Point :
    def __init__(self, nom="", x=0, y=0):
        self.nom = nom
        self.x = x
        self.y = y

In [66]:
p=Point()

In [67]:
p.nom

''

In [68]:
p.x

0

In [69]:
p.y

0

In [70]:
# Ajouter une fonctionalité dans la classe Point qui permet d'afficher les infos d'un point
# selon le format nom(x,y)
class Point :
    def __init__(self, nom="", x=0, y=0):
        self.nom = nom
        self.x = x
        self.y = y
    def afficher(self):
        print("%s(%d,%d)"%(self.nom, self.x, self.y))

In [71]:
p=Point("P1",2,3)
p.afficher()

P1(2,3)

In [72]:
# Ajouter la fonctionalité decaler qui permet de décaler les coordonnées d'un point
class Point :
    def __init__(self, nom="", x=0, y=0):
        self.nom = nom
        self.x = x
        self.y = y
    def afficher(self):
        print("%s(%d,%d)"%(self.nom, self.x, self.y))
    def decaler(self, dx=0, dy=0):
        self.x += dx # self.x = self.x + dx
        self.y += dy # self.y = self.y + dy

In [73]:
p=Point("P1",2,3)
p.afficher()
p.decaler(dy=2,dx=4)
p.afficher()

P1(2,3)
P1(6,5)

<b>Les modules</b>

Un module est un script Python (fichier d'extension .py)

Généralement, un module est dédidé pour définir des concepts abstraits en programmation (les fonctions, les classes, ...) reutilisables