<b>Objectifs:</b>

En utilisant la bibliothèque pandas, savoir :
- Manipuler les series 
- Manipuler les dataframes

In [2]:
# Importer pandas
import pandas as pd

<h3>1. Séries</h3>

En Pandas, un vecteur ou tableau unidimensionnel est représenté par la classe `Series`.

Cette strcuture des données est utile pour :
- représenter un individu (ayant des informations de types différents)
- représenter une série de valeurs (de même type)

<b>1.1. Series pour représenter un individu</b>

<u>Création:</u>

Une série est créée comme un objet de la classe `pd.Series`.

On peut créer une série qui regroupe des informations de différents types. PAr exmeple, les informations d'une personne.

Lors de la création de la série, on peut passer :
- un <font color=red>dictionnaire</font>

Exemple: 

        s_employe=pd.Series({'nom':"Ali",'salaire':1200.56,'age':28} , 
                    name='etudiant')

- une <font color=red>liste</font>

Exemple: 

        s_employe=pd.Series(["Ali",1200.56,28] , 
                        index=['nom','salaire','age'], 
                        name='etudiant')

In [3]:
# En utilisant un dictionnaire
s_employe=pd.Series({'nom':"Ali",'salaire':1200.56,'age':28} , 
                    name='etudiant')
s_employe

nom            Ali
salaire    1200.56
age             28
Name: etudiant, dtype: object

In [77]:
# En utilisant des listes
s_employe=pd.Series(["Ali",1200.56,28] , 
                        index=['nom','salaire','age'], 
                        name='etudiant')
s_employe

nom            Ali
salaire    1200.56
age             28
Name: etudiant, dtype: object

<b>1.2. Series pour représenter une série de valeurs</b>

<u>Création :</u>

La série est créée comme un objet de la classe `pd.Series` en utilisant une liste (comme argument)

Une série contenant des valeurs de même type (nature) plus utile pour effectuer des statistiques, par exemple :

- une série de valeurs d'âge des personnes, indexée par leurs noms
- une série de valeurs de température indexée par la date-heure de mesure
- ....

Exemple :

    s_ages=pd.Series([28,30,25,41], 
                 index=['Ali','Sonia','Rahma','Walid'], 
                 name='ages', 
                 dtype=np.int16)

In [6]:
import numpy as np
s_ages= s_ages=pd.Series([28,30,25,41],
                 index=['Ali','Sonia','Rahma','Walid'], 
                 name='ages', 
                 dtype=np.int16)
s_ages

Ali      28
Sonia    30
Rahma    25
Walid    41
Name: ages, dtype: int16

<b>1.3. Propriétés de Series:</b>

Une série a plusieurs propriétés :
- `dtype`
- `shape`
- `index`
- `name`
- `values`
- ....

Note: 
- Une série Pandas et un vecteur Numpy ont en commun les propriétés `dtype` et `shape`. 
- Ce qui distingue une série Pandas par rapport à un vecteur Numpy sont les propriétés `index` et `name`

In [7]:
s_ages.name

'ages'

In [8]:
s_ages.index

Index(['Ali', 'Sonia', 'Rahma', 'Walid'], dtype='object')

In [9]:
s_ages.dtype

dtype('int16')

In [10]:
s_ages.shape

(4,)

In [11]:
s_ages.values

array([28, 30, 25, 41], dtype=int16)

<b>1.4. Opérations de base sur Series</b>

Deux opérations de base sont possibles avec les séries :

<b>1.4.1. Indexation :</b>

Pour accéder aux éléments de la série, on peut utiliser :

<u>Indexation avec indices numériques en utilisant l'opérateur iloc[]:</u>

Exemple: Récupérer la première valeur de la série

On peut le faire avec `s_ages.iloc[0]` o ubien totu court `s_ages[0]`

In [14]:
# En utilisant iloc[0]
s_ages.iloc[0]

28

In [15]:
# En utilisant [0] tout court
s_ages[0]

28

Exemple : récupérer la dernière valeur de la série

En utilisant `s_ages.iloc[-1]`

In [16]:
s_ages.iloc[-1]

41

En utilisant `s_ages[-1]`

In [17]:
s_ages[-1]

41

<u>indexation avec les labels en utilisant l'opérateur loc[] :</u>

Exemple : Récupérer l'age de Ali

En utilisant `s_ages.loc['Ali']`

In [18]:
# Age d'Ali
s_ages['Ali']

28

En utilisant `s_ages['Ali']`

In [19]:
s_ages['Ali']

28

<b>1.4.2. Slicing :</b>

Pour extraire une sous-série d'une série, on peut le faire avec :

<u>Slicing avec indices numériques en utilisant l'opérateur iloc[]:</u>

Exemple: Les deux premieres valeurs

En utlisant `s_ages.iloc[:2]`

In [20]:
# Les deux premieres valeurs d'age
s_ages.iloc[:2]

Ali      28
Sonia    30
Name: ages, dtype: int16

En utlisant `s_ages[:2]`

In [21]:
s_ages[:2]

Ali      28
Sonia    30
Name: ages, dtype: int16

<u>Slicing avec les labels en utilisant l'opérateur loc[] :</u>

Exemple: Les ages de 'Ali' et 'Sonia'

     `s_ages.loc[['Ali','Sonia']]`

In [23]:
# Les deux premieres valeurs d'age
s_ages.loc[['Ali','Sonia']]

Ali      28
Sonia    30
Name: ages, dtype: int16

<u>Slicing sans utiliser ni `iloc[]` ni `loc[]`:</u>

Exemple:

        s_ages[['Ali','Sonia']]

In [24]:
s_ages[['Ali','Sonia']]

Ali      28
Sonia    30
Name: ages, dtype: int16

<b>1.5. Fonctions utiles:</b>

Des fonctions prédéfinies utiles associées à la série sont :
- `to_list()` : pour convertir l'index + les valeurs de la série en un dcitionnaire
- `to_dict()` : pour convertir les valeurs de la série en une liste
- `max()`
- `min()`
- `mean()`
- `argmin()`
- `argmax()`
- `argsort()`
- `sort_index()`
- `sort_values()`
- ....

In [26]:
# convertir en liste
s_ages.to_list()

[28, 30, 25, 41]

In [27]:
# convertir en dictionnaire
s_ages.to_dict()

{'Ali': 28, 'Sonia': 30, 'Rahma': 25, 'Walid': 41}

In [28]:
# L'age max
s_ages.max()

41

In [30]:
# L'age min
s_ages.min()

25

In [29]:
# L'age moyen
s_ages.mean()

31.0